@model IEnumerable<MvcBookstore.Models.Book>

@{
    ViewData["Title"] = "Book List";
}

<p>
    <!-- <a asp-action="Create">Create New</a> -->
</p>

<form asp-controller="Books" asp-action="Index" method="get">
    <p>
        <input type="text" name="SearchString" placeholder="Title or Book ID" />
        <input type="submit" value="Filter"/>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Book ID
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookId)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (item.BookingNumber == 0)
                    {
                        <a asp-action="Reserve" asp-route-id="@item.Id">Reserve</a>
                    }
                    else
                    {
                        <span>Reserved</span>
                    }
                </td>
        </tr>
    }
    </tbody>
</table>

<div>
    @if (ViewData.ContainsKey("SearchString"))
    {
        <a asp-action="Index">Back to List</a>
    }
</div>
